.directory-info-header
{
  display: flex;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.directory-title
{
  line-height: 20px;
}

.directory-items-count
{
  line-height: 75px;
  margin-left: 10px;
}

.directory-info-button
{
  line-height: 85px;
  margin-left: auto;
  height: 40px;
  width: 40px;
}

.directory-info-button button
{
  background: transparent;
}

.directory-info-button svg
{
  height: 100%;
  width: 100%;
}