.folder-contextmenu
{
	display: grid;
	grid-gap: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
	height: 200px;
	background: white;
	color: #181818;
	border-radius: 5px;
	animation-name: folder-contextmenu-slide;
	animation-duration: 0.2s;
	-webkit-box-shadow: 0px 5px 14px -3px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 14px -3px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 14px -3px rgba(0,0,0,0.35);
	position: absolute;
}

.folder-contextmenu svg
{
	fill: #181818;
}

.folder-contextmenu-dark
{
	background: black;
	color: white;
}

.folder-contextmenu-dark svg
{
	fill: white;
}

.folder-contextmenu > div
{
	text-align: center;
}

.folder-contextmenu > div:nth-child(1) svg
{
	height: 25px;
	width: 25px;
}

.folder-contextmenu > div:nth-child(2) svg
{
	width: 35px;
	height: 35px;
}

.folder-contextmenu > div:nth-child(3) svg
{
	width: 25px;
	height: 25px;
}

.folder-contextmenu > div:nth-child(4) svg
{
	width: 25px;
	height: 25px;
}

.folder-contextmenu-section
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding-top: 2px;
	height: 100%;
}

.folder-contextmenu-section:hover
{
	background: #f1f1f1;
}

.folder-contextmenu-section > div:first-child
{
	width: 50px;
	margin-right: auto;
	margin-left: 10px;
}

.folder-contextmenu-section > div:last-child
{
	text-align: left;
	width: calc(100% - 50px);
}

.folder-contextmenu-section svg
{
	margin-top: 5px;
	height: calc(100% - 35px);
	width: 100%;
}

.folder-contextmenu-section-dark:hover
{
	background: #101010;
}

@keyframes folder-contextmenu-slide
{
	from
	{
		height: 0;
		opacity: 0;
	}
	to
	{
		height: 200px;
		opacity: 1;
	}
}