.text-submit-modal {
    font-size: 19px;
    height: 150px;
    width: 350px;
    padding: 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.35);
    animation-name: text-submit-modal-slide;
    animation-duration: 0.2s;
}

.text-submit-modal,
.text-submit-modal *
{
    transition: 0.2s;
}

.modal-close {
    width: 16px;
    cursor: pointer;
}

.text-submit-modal-row:first-child {
    margin-top: 0;
}

.text-submit-modal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.text-submit-modal-row > div:first-child {
    margin-right: 30px;
    width: 100%;
}

.modal-input {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 100%;
    height: 30px;
    border: none; 
    border-radius: 3px;
    background: #282828;
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: text;
}

.modal-input-light{
    background: #f0f0f0;
    color: black;
}

.modal-submit {
    margin-left: auto;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-radius: 3px;
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}

.modal-submit-light {
    background: white;
    color: black;
}

.modal-submit:hover {
    cursor: pointer;
    background: #FC6666;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(252, 102, 102, 0.7);
    -moz-box-shadow: 0px 2px 5px 0px rgba(252, 102, 102, 0.7);
    box-shadow: 0px 2px 5px 0px rgba(252, 102, 102, 0.7);
}

@keyframes text-submit-modal-slide
{
    from
    {
        bottom: 30%;
        opacity: 0;
    }
    to
    {
        bottom: 0;
        opacity: 1;
    }
}