.directory-items
{
	padding-left: 30px;
	padding-right: 30px;
}

.items-view-header
{
	display: flex;
}

.folder-items-grid
{
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: 60px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}